{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include 'administrator/inc/head.html' %}
  <body>
    <div class="wrapper">
      <!-- Sidebar -->
      {% include 'administrator/inc/sidebar.html' %}
      <!-- End Sidebar -->

      <div class="main-panel">
        
        {% include 'administrator/inc/header.html' %}
        <div class="container">
          <div class="page-inner">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <a href="javascript:history.back()" style="text-decoration: none; font-size: 14px; color: #6861ce;">
                        &#8592; Back
                    </a>
                    <div class="card-title">Edit Teacher</div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <center>{% for message in messages %}
                        {% if message.tags == "success" %}
                         <script>
                              Swal.fire({
                                  title: "Success!",
                                  text: "{{ message }}",
                                  icon: "success",
                                  timer: 1500,
                                  showConfirmButton: false
                              }).then(() => {
                                  let sectionId = {{ teacher.id }}; 
                                  let url = "{% url 'administrator:teacher_record' 0 %}".replace("0", sectionId);
                                  window.location.href = url;
                              });
                          </script>
                        {% elif message.tags == "error" %}
                            <script>
                              Swal.fire({
                                  title: "Error!",
                                  text: "{{ message }}",
                                  icon: "error", 
                                  timer: 1500,
                                  showConfirmButton: false
                              }).then(() => {
                                  window.location.href = "{% url 'administrator:edit_teacher' teacher.id %}";
                              });
                            </script>
                        {% endif %}
                        {% endfor %}
                      </center>
                      <div class="col-md-6 col-lg-6">
                        <form method="post">
                          {% csrf_token %}
                        <div class="form-group">
                          <label for="email2">First Name</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Abdussalam"
                            name="teacher_fname"
                            required
                            value = "{{ teacher.teacher_fname }}"
                          />
                        </div>
                        <div class="form-group">
                          <label for="email2">Other Names</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Abubakar"
                            name="teacher_othernames"
                            required
                            value = "{{ teacher.teacher_othernames }}"
                          />
                        </div>
                        <div class="form-group">
                          <label for="email2">Email</label>
                          <input
                            type="email"
                            class="form-control"
                            placeholder="teacher@mail.com"
                            name="teacher_email"
                            required
                            value = "{{ teacher.teacher_email }}"
                          />
                        </div>
                        <div class="form-group">
                          <label for="email2">Phone Number</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="081 XXXXXXXXX"
                            pattern="[0-9]+"
                            name="teacher_phone"
                            required
                            maxlength='11'
                            minlength='11'
                            value = "{{ teacher.teacher_phone }}"
                          />
                        </div>
                        <div class="form-group">
                          <label for="email2">Address</label>
                          <textarea
                            type="email"
                            class="form-control"
                            placeholder="House No. 26 GRA"
                            name="teacher_address"
                            required
                            
                          />{{ teacher.teacher_address }}</textarea>
                        </div>
                        <div class="form-group">
                        <label for="email2">Gender</label>
                        <select class="form-control" name="teacher_gender">
                          <option value = "{{ teacher.teacher_gender }}">{{ teacher.teacher_gender }}</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>
                        </div>
                        <div class="form-group">
                          <label for="email2">Date Of Birth</label>
                          <input
                            type="date"
                            class="form-control"
                            name="teacher_dob"
                            required
                            value = "{{ teacher.teacher_dob }}"
                          />
                        </div>
                        <button class="btn btn-xs btn-secondary btn-sm" style="margin-left:10px; width: 150px; height: 40px; font-size: 14px; border-radius: 7px;"> Update Teacher </button>
                        </form>
                 </div>
              </div>   
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'administrator/inc/footer.html' %}      
  </body>
</html>
