{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include 'administrator/inc/head.html' %}
  <body>
    <div class="wrapper">
      <!-- Sidebar -->
      {% include 'administrator/inc/sidebar.html' %}
      <!-- End Sidebar -->

      <div class="main-panel">
        
        {% include 'administrator/inc/header.html' %}
        <div class="container">
          <div class="page-inner">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <a href="javascript:history.back()" style="text-decoration: none; font-size: 14px; color: #6861ce;">
                        &#8592; Back
                    </a>
                    <div class="card-title">General Notification Board</div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <center>{% for message in messages %}
                        {% if message.tags == "success" %}
                         <script>
                              Swal.fire({
                                  title: "Success!",
                                  text: "{{ message }}",
                                  icon: "success", 
                                  timer: 1500,
                                  showConfirmButton: false
                              }).then(() => {
                                  window.location.href = "{% url 'administrator:general_notification' %}";
                              });
                            </script>
                        {% elif message.tags == "error" %}
                            <script>
                              Swal.fire({
                                  title: "Error!",
                                  text: "{{ message }}",
                                  icon: "error", 
                                  timer: 1500,
                                  showConfirmButton: false
                              }).then(() => {
                                  window.location.href = "{% url 'administrator:add_general_notification' not.id  %}";
                              });
                            </script>
                        {% endif %}
                        {% endfor %}
                      </center>
                      <div class="col-md-6 col-lg-6">
                        <form method="post">
                          {% csrf_token %}
                          <div class="form-group">
                          <label for="email2">Audience</label>
                          <select
                            
                            class="form-control"
                            name="g_not_audience"
                            required
                          >
                            <option value="{{not.g_not_audience}}" selected>{{not.g_not_audience}}</option>
                            <option disabled value="">--select--</option>
                            <option value="Students">Students</option>
                            <option value="Teachers">Teachers</option>
                            <option value="Parents">Parents</option>
                            <option value="General">General</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="email2">Notification</label>
                         <textarea
                            class="form-control"
                            placeholder="Primary section"
                            name="g_not_notification"
                            required 
                          >
                           {{not.g_not_notification}}
                          </textarea>
                        </div>
                        <button class="btn btn-xs btn-secondary btn-sm" style="margin-left:10px; width: 100px; height: 40px; font-size: 14px; border-radius: 7px;"> Update</button>
                        </form>
                 </div>
              </div>   
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'administrator/inc/footer.html' %}      
  </body>
</html>
