{% load static %}
<div class="main-header">
          <div class="main-header-logo">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="dark">
              <a href="index.html" class="logo">
                <img
                  src="{% static 'student/assets/img/yamslogo.png' %}"
                  alt="navbar brand"
                  class="navbar-brand"
                  height="40"
                />
              </a>
              <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                  <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                  <i class="gg-menu-left"></i>
                </button>
              </div>
              <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
              </button>
            </div>
            <!-- End Logo Header -->
          </div>
          <!-- Navbar Header -->
          <nav
            class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
          >
            <div class="container-fluid">
              <nav
                class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex"
              >
                
                  
                  <h1 style="font-family: Arial, sans-serif; font-size: 36px; font-weight: bold; color: #6861ce; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); letter-spacing: 2px; background: linear-gradient(to right, #6861ce, #ff6666); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Herly-Stack Portals</h1>


                  
               
              </nav>

              <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                
                
                <li class="nav-item topbar-icon dropdown hidden-caret">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="notifDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fa fa-bell"></i>
                    <span class="notification" style="background-color: #6861ce;">{{numbtts}}</span>
                  </a>
                  <ul
                    class="dropdown-menu notif-box animated fadeIn"
                    aria-labelledby="notifDropdown"
                  >
                    <li>
                      <div class="dropdown-title">
                        Notice Board
                      </div>
                    </li>
                    <li>
                      <div class="notif-scroll scrollbar-outer">
                        <div class="notif-center">
                          {% for generals in get_general_infos %}
                          <a href="#">
                            <div class="notif-icon notif-danger">
                              <i class="fa fa-info"></i>
                            </div>
                            <div class="notif-content">
                              <span class="block" style="color: #f25961;">
                                <b>General </b>
                              </span>
                              <span class="time" style="font-size: 13px">{{generals.g_not_notification}}</span>
                              <br>
                              <span class="time" style="color: #6861ce;">{{generals.g_not_date}}</span>
                              <br>
                              <span class="time" style="color: #f25961;">{{generals.g_not_term}}/{{generals.g_not_session}}</span>
                            </div>
                          </a>
                          
                          {% endfor %}
                          {% for generalts in get_general_info_ts %}
                          <a href="#">
                            <div class="notif-icon notif-primary">
                              <i class="fa fa-info"></i>
                            </div>
                            <div class="notif-content">
                              <span class="block" style="color: #1572e8;">
                                <b>Students</b>
                              </span>
                              <span class="time" style="font-size: 13px">{{generalts.g_not_notification}}</span><br>
                              <span class="time" style="color: #6861ce;">{{generalts.g_not_date}}</span><br>
                              <span class="time" style="color: #1572e8;">{{generalts.g_not_term}}/{{generalts.g_not_session}}</span>
                            </div>
                          </a>
                          
                          {% endfor %}

                          {% for generalcs in get_class_infos %}
                          <a href="#">
                            <div class="notif-icon notif-success">
                              <i class="fa fa-info"></i>
                            </div>
                            <div class="notif-content">
                              <span class="block" style="color: #6861ce;">
                                <b>{{generalcs.notification_subject.subject_name}}</b>
                              </span>
                              <span class="time" style="font-size: 13px">{{generalcs.notification_content}}</span><br>
                              <span class="time" style="color: #6861ce;">{{generalcs.notification_date}}</span>
                            </div>
                          </a>
                          
                          {% endfor %}
                          
                        </div>
                      </div>
                    </li>
                    
                  </ul>
                </li>
                <li class="nav-item topbar-icon dropdown hidden-caret">
                  <a
                    class="nav-link"
                    data-bs-toggle="dropdown"
                    href="#"
                    aria-expanded="false"
                  >
                    <i class="fas fa-layer-group"></i>
                  </a> 
                  <div class="dropdown-menu quick-actions animated fadeIn">
                    <div class="quick-actions-header">
                      <span class="title mb-1">Quick Actions</span>
                      <span class="subtitle op-7">Shortcuts</span>
                    </div>
                    <div class="quick-actions-scroll scrollbar-outer">
                      <div class="quick-actions-items">
                        <div class="row m-0">
                          <a class="col-6 col-md-4 p-0" href="{% url 'student:assignments' request.session.student_id %}">
                            <div class="quick-actions-item">
                              <div class="avatar-item bg-danger rounded-circle">
                                <i class="fas fa-pen-square"></i>
                              </div>
                              <span class="text">Assignments</span>
                            </div>
                          </a>
                          <a class="col-6 col-md-4 p-0" href="{% url 'student:compiled_result' request.session.student_id %}">
                            <div class="quick-actions-item">
                              <div class="avatar-item bg-info rounded-circle">
                                <i class="fas fa-file-excel"></i>
                              </div>
                              <span class="text">Result</span>
                            </div>
                          </a>
                          <a class="col-6 col-md-4 p-0" href="{% url 'student:my_record' request.session.student_id %}">
                            <div class="quick-actions-item">
                              <div
                                class="avatar-item bg-secondary rounded-circle"
                              >
                                <i class="fas fa-credit-card"></i>
                              </div>
                              <span class="text">Payments</span>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="nav-item topbar-user dropdown hidden-caret">
                  <a
                    class="dropdown-toggle profile-pic"
                    data-bs-toggle="dropdown"
                    href="#"
                    aria-expanded="false"
                  >
                    <i class="fas fa-user" style="color:#6c757d;"></i>
                    <span class="profile-username">
                      <span class="op-7">Hi,</span>
                      <span class="fw-bold">{{ request.session.student_name }}</span>
                    </span>
                  </a>
                  <ul class="dropdown-menu dropdown-user animated fadeIn">
                    <div class="dropdown-user-scroll scrollbar-outer">
                      <li>
                        <div class="user-box">
                          
                          <div class="u-text">
                            <h4>{{ request.session.student_fullname }}</h4>
                            <p class="text-muted">{{ request.session.student_admission }}</p>
                            <a
                              href="{% url 'student:profile' request.session.student_id %}"
                              class="btn btn-xs btn-secondary btn-sm"
                              >View Profile</a
                            >
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="dropdown-divider"></div>
                        
                        <a class="dropdown-item" href="{% url 'student:change_password' request.session.student_id %}">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'student:logout' %}">Logout</a> 
                      </li>
                    </div>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
          <!-- End Navbar -->
        </div>